[project]
	description = A collection of useful .gitignore templates
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/谢红超 (CarlosAdmin)
[access "refs/for/refs/*"]
	read = group user/谢红超 (CarlosAdmin)
	push = group user/谢红超 (CarlosAdmin)
	label-Code-Review = -2..+2 group user/谢红超 (CarlosAdmin)
	label-Verified = -1..+1 group user/谢红超 (CarlosAdmin)
	rebase = group user/谢红超 (CarlosAdmin)
	removeReviewer = group user/谢红超 (CarlosAdmin)
	submit = group user/谢红超 (CarlosAdmin)
[access "refs/heads/*"]
	read = group user/谢红超 (CarlosAdmin)
	create = group user/谢红超 (CarlosAdmin)
	push = +force group user/谢红超 (CarlosAdmin)
	pushMerge = group user/谢红超 (CarlosAdmin)
[access "refs/tags/*"]
	push = group user/谢红超 (CarlosAdmin)
	push = +force group user/谢红超 (CarlosAdmin)
